{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
<style>
.showcase{
    
    padding:100px;
    padding-top:100px;
    margin: auto;
}
.showcase-text{
    background-color:#2b2b2b;
    color: white;
}
</style>

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/AboutUs2.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2> About Us </h2>
          <p class="lead mb-0">We give our accommodation a grade - check the trip itinerary to find the grade for each day. We'll also try to list the exact place where you'll stay, however this isn't always guaranteed. We constantly review our accommodation based on customer feedback so the hotel may change, or it may not be available for the dates you choose. We'll always try and replace it with accommodation of the same grade as listed. Find out more about what each of our accommodation grades mean below.</p>
        </div>
      </div>
        </div>
    </div>
  </section>
{% endblock %}