{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="padding-top:100px;">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background-image: url('assets/img/contactus.jpg');"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Contact us!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
                <div class="form-group">
                  
                    <input type="text" class="form-control form-control-user" id="exampleInputEmai" placeholder="Subject">
                  
                </div>
                <div class="form-group">
                  
                    <textarea  class="form-control form-control-user" id="eexampleInputEmai" placeholder="Message"></textarea>
                 
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Send
                </a>
            
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}