{% extends 'base.html.twig' %}

{% block body %}
<style>
.showcase{
    
    padding:100px;
    padding-top:100px;
    margin: auto;
}
.showcase-text{
    background-color:#2b2b2b;
    color: white;
}
</style>

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/privacy.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2> Term of Use </h2>
          <p class="lead mb-0">Welcome to the privacy centre of Explore Worldwide Limited where you can find details on how we sensitively handle the personal information you provide when you interact with us via the website, sales and customer service team or in other ways. We appreciate there is a lot of information contained here, but we wish you to be fully informed of your rights and hope that we can answer any questions you have.</p>
        </div>
      </div>
        </div>
    </div>
  </section>
{% endblock %}